* {
    padding: 0;
    margin: 0;
}

.body {
    margin: 50px;
    height: 78vh;
    width: 30vw;
    background-color: aliceblue;
    border: 2px rgb(174, 174, 201) solid;
    border-radius: 10px;
}

.box {
    margin: 14px;
    height: 74vh;
    width: 28vw;
    border-radius: 10px;
    z-index: 2;
}

.tags{
    display: flex;
}