* {
    margin: 0;
    padding: 0;
}

.box {
   
}

.box1 {
    margin: 20px;
    padding: 10px;
    border: solid black 2px;
    height: 50px;
    color: rgb(87, 6, 0);
    background-color: rgb(255, 164, 164);
    box-sizing: border-box;
}

.box2 {
    margin-left:20px;
    margin-right: 20px;
    padding: 10px;
    border: solid black 2px;
    color: rgb(2, 59, 59);
    background-color:rgb(92, 254, 254);
}